---
import type { CollectionEntry } from "astro:content";

import { formatDate } from "../../utils/formatDate";
import BlogAuthorDetails from "../BlogAuthorDetails/BlogAuthorDetails.astro";
import {
  blogEntry,
  blogEntryList,
  blogEntryListContainer,
  date,
  description,
  heading,
  postsList,
  title,
} from "./BlogEntryList.css";

export interface Props {
  blogEntries: CollectionEntry<"blog">[];
}

const { blogEntries } = Astro.props;
---

<div class={blogEntryListContainer}>
  <div class={blogEntryList}>
    <h1 class={heading}>Blake's Developer Blog</h1>
    <BlogAuthorDetails />
    <div class={postsList}>
      {
        blogEntries.map(async (entry) => {
          const { remarkPluginFrontmatter } = await entry.render();
          return (
            <a rel="prefetch" class={blogEntry} href={`/blog/${entry.slug}`}>
              <div class={title}>{entry.data.title}</div>
              <div class={date}>
                {formatDate(entry.data.pubDate)} ・ {remarkPluginFrontmatter.readingTime}
              </div>
              <div class={description}>
                {entry.data.description ||
                  entry.body.split(" ").slice(0, 20).join(" ") + "..."}
              </div>
            </a>
          );
        })
      }
    </div>
  </div>
</div>
