---
import { educationItems } from "../../data/education";
import Section from "../../layouts/PageSection/PageSection.astro";
import {
  experienceItem,
  roleContainer,
  roleDepartment,
  roleDetails,
  roleHeader,
  roleTimeline,
  roleTitle,
} from "../Experience/Experience.css";
import { schoolLogo } from "./Education.css";
---

<Section id="education" heading="Education">
  {
    educationItems.map((education) => (
      <section class={experienceItem}>
        <picture>
          <source type="image/webp" srcset={`${education.logoHref}.webp`} />
          <source type="image/png" srcset={`${education.logoHref}.png`} />
          <img
            class={schoolLogo}
            src={`${education.logoHref}.png`}
            alt={`${education.school} logo`}
          />
        </picture>
        <div class={roleContainer}>
          <div class={roleHeader}>
            <div>
              <h1 class={roleTitle}>{education.degree}</h1>
              <h2 class={roleDepartment}>{education.field}</h2>
            </div>
            <p class={roleTimeline}>{education.timeline}</p>
          </div>
          <ul class={roleDetails}>
            {education.extracurriculars.map((extracurricular) => (
              <li>{extracurricular}</li>
            ))}
          </ul>
        </div>
      </section>
    ))
  }
</Section>
