---
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import type { CollectionEntry } from "astro:content";

import { formatDate } from "../../utils/formatDate";
import BlogAuthorDetails from "../BlogAuthorDetails/BlogAuthorDetails.astro";
import * as styles from "./BlogPost.css";

export interface Props {
  data: CollectionEntry<"blog">["data"];
  Content: AstroComponentFactory;
}

const { data, Content } = Astro.props;
---

<div class={styles.blogPostContainer}>
  <div class={styles.blogPost}>
    <h1 class={styles.heading}>{data.title}</h1>
    <div class={styles.postDetails}>
      <div>by {data.author}</div>
      <div>{formatDate(data.pubDate)}</div>
    </div>
    <div class={styles.postContent}>
      <Content />
    </div>
    <div class={styles.divider}></div>
    <BlogAuthorDetails />
    <a href="/blog">← Read more posts</a>
  </div>
</div>
