---
import Button from "../Button/Button.astro";
import ArrowDown from "../Vectors/ArrowDown.astro";
import Computer from "./Computer.astro";
import {
  arrowDown,
  graphicContainer,
  homeContainer,
  introWithGraphicContainer,
  scrollDownButtonWrapper,
} from "./Home.css";
import Introduction from "./Introduction.astro";
---

<section class={homeContainer}>
  <div class={introWithGraphicContainer}>
    <Introduction />
    <div class={graphicContainer}>
      <Computer />
    </div>
  </div>
  <div class={scrollDownButtonWrapper}>
    <Button round square ariaLabel="Scroll Down">
      <ArrowDown className={arrowDown} />
    </Button>
  </div>
</section>

<script>
  document.querySelector("[aria-label='Scroll Down']")?.addEventListener("click", () => {
    document.querySelector("#about-me")?.scrollIntoView({ behavior: "smooth" });
  });
</script>
