---
import "../styles/global.css";

import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import { paddingForHeader } from "../styles/helpers.css";
import { darkThemeClass, lightThemeClass } from "../styles/theme.css";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
const GA_MEASUREMENT_ID = import.meta.env.PUBLIC_GA_MEASUREMENT_ID;
---

<!DOCTYPE html>
<html lang="en" class={lightThemeClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      href="/fonts/poppins-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/poppins-latin-500-normal.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/poppins-latin-700-normal.woff2"
      as="font"
      type="font/woff2"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link
      rel="mask-icon"
      href="/mask-icon.svg"
      color="#ffffff"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="mask-icon"
      href="/mask-icon.svg"
      color="#000000"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}></script>
    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </head>
  <body>
    <Header />
    <main class={paddingForHeader}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<script define:vars={{ darkThemeClass }}>
  function applyColorScheme(colorScheme) {
    document.documentElement.style.setProperty("color-scheme", colorScheme);
    if (colorScheme === "dark") document.documentElement.classList.add(darkThemeClass);
    else document.documentElement.classList.remove(darkThemeClass);
  }

  // Apply initial color scheme
  const mql = window.matchMedia("(prefers-color-scheme: dark)");
  applyColorScheme(mql.matches ? "dark" : "light");

  // Listen for color scheme changes
  mql.addEventListener("change", (e) => {
    const newColorScheme = e.matches ? "dark" : "light";
    applyColorScheme(newColorScheme);
  });
</script>
