---
import Section from "../../layouts/PageSection/PageSection.astro";
import LongArrowRight from "../Vectors/LongArrowRight.astro";
import {
  arrow,
  headshot,
  latte,
  latteCaption,
  latteCaptionContainer,
  latteContainer,
  paragraph,
  paragraphsContainer,
} from "./AboutMe.css";
---

<Section id="about-me" heading="About Me">
  <picture>
    <source type="image/webp" srcset="/images/BlakeZimmerman.webp" />
    <source type="image/jpeg" srcset="/images/BlakeZimmerman.jpg" />
    <img
      class={headshot}
      src="/images/BlakeZimmerman.jpg"
      alt="A handsome headshot of me"
    />
  </picture>
  <div class={paragraphsContainer}>
    <p class={paragraph}>
      I’m Blake – an NYC-based software engineer dedicated to his craft that seeks to
      build better web experiences.
    </p>
    <p class={paragraph}>
      While I often do full-stack web development, I primarily focus on the front-end. I’m
      most interested in design systems and functional programming.
    </p>
    <p class={paragraph}>
      When I’m not at my desk coding, you can find me at the espresso machine practicing
      my latte art.
    </p>
  </div>
  <figure class={latteContainer}>
    <div class={latteCaptionContainer}>
      <figcaption class={latteCaption}>My latte art</figcaption>
      <LongArrowRight className={arrow} />
    </div>
    <picture>
      <source type="image/webp" srcset="/images/latte.webp" />
      <source type="image/png" srcset="/images/latte.png" />
      <img class={latte} src="/images/latte.png" alt="A pretty latte I made" />
    </picture>
  </figure>
</Section>
